[submodule "nn-emotion"]
	path = nn-emotion
	url = https://code.webb.page/NetNavi/nn-emotion
[submodule "nn-hearing"]
	path = nn-hearing
	url = https://code.webb.page/NetNavi/nn-hearing
[submodule "nn-sight"]
	path = nn-sight
	url = https://code.webb.page/NetNavi/nn-sight
[submodule "nn-speech"]
	path = nn-speech
	url = https://code.webb.page/NetNavi/nn-speech
[submodule "nn-thought"]
	path = nn-thought
	url = https://code.webb.page/NetNavi/nn-thought
